.DS_Store
.AppleDouble
.LSOverride
.vscode
._*

.vscode/
lightning_logs/
lightning_logs_sincos/
plots/
VAE/__pycache__/
plots*/
plots_VAE/
plots_*/
data/
__pycache__/

various.py
main_sincos.py
VAE/__pycache__
*.pyc


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class